{% extends 'base.html.twig' %}

{% block header_title %}<h1>Erreur 500</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p>Problème serveur, contactez votre webmaster</p>
{% endblock %}
