{% extends 'base.html.twig' %}

{% block header_title %}<h1>Erreur 403</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p>Vous n'êtes pas autorisé à exécuter cette requête...</p>
{% endblock %}
